---
---

@import "{{ site.theme }}";

// Custom styles

#header_wrap {
	background: #000015;
	background-image: url("/assets/galaxy2.jpg");
	background-image: url("/assets/galaxy2.jpg"), linear-gradient(to left, #000096, #00007D, #000064, #00004B, #000032, #000015);
	background-repeat: no-repeat;
	background-position: right;
}
#footer_wrap {
	background: linear-gradient(to left, #000096, #00007D, #000064, #00004B, #000032, #000015);
	background-color: #000032;
}

h4, h5 {
	color: #00008B;
}

.post-header {
	text-align:center;
}

a:hover, a:focus {
	font-weight: normal;
}

h1 a, h1 a:hover, h1 a:focus  {
	margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
}

#forkme_banner {
	right: 0;
}

img.left {
	float: left;
	padding-right: 15px;
}

img.right {
	text-align: right;
	padding-left: 15px;
}

img.center {
	text-align: center;
	left: 50%;
	right: 50%;
	-webkit-transform: translateX(-50%);
}

#byline .post-author {
	float: left
}

#byline .post-date {
	float: right
}