---
layout: default
---
<div class="post">

  <header class="post-header">
    <p align="center"><h1 <class="post-title">{{ page.title }}</p>
    <p align="left"><h4 <class="post-author">{{ page.author}}</h4> <align="right"><h4 <class="post-date">{{ page.date | date_to_long_string}}</h4></p>
  </header>
  
  <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </div>

  <article class="post-content">
    {{ content }}
  </article>

</div>
