---
layout: default
---
<div class="post">

  <header class="post-header">
    <div>
      <h1 style="color:#191970;"><span class="post-title">{{ page.title }}</span></h1>
      <h4 id="byline">
        <span class="post-author">by {{ page.author}}</span>
        <span class="post-date">{{ page.date | date: '%B %d, %Y'}}</span>
        <span style="clear:both">&nbsp;</span>
      </h4>
    </div>
  </header>
  
  <div class="post-tags">
  {% for tag in page.tags %}
  {% endfor %}
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  Tags:
  {% for tag in tags %}
  <a href="{{site.url}}/tags/{{ tag | slugize }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
  </div>

  <article class="post-content">
    {{ content }}
  </article>

</div>
<div style="float: right">
    <a href="{{site.url}}">Back to Home</a>
</div>
<div class="related">
  <h5>Other Recent Posts</h5>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

